body{
    padding-top: 2px;
    background-color:transparent;
    display: flex;
    align-items: center;
}

.grid {
    display: flex;    
    border: 5px solid gray;
}
.main{
    margin:7%;
}

.row {
    border: 2px solid black;
    height: 25px;
    width: 25px;
    
}
.button{
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    align-items: center;
    padding: 15px;
    margin: 5px;
}
.Text{
    color: rgb(91, 89, 89);
    font-size: 30px;
    padding: 10px;

}
#favcolor{
    background-color: white;
    height:100px;
    width: 100px;
    border: 2px solid white;
    overflow: hidden;
    margin: 5px;

}
.eraser{
    font-size: 30px;
    background-color: gray;
    margin:5px;
    padding: 10px;
    border-radius: 8px;
}

